<div class="row mt-4">
    <h1 class="text-center">Lista de Tipos de Comercio</h1>
</div>

<hr>

<div class="row mt-2 mb-2 ">
    <div class="col-12">
        <a href="/admin/commerce-types/register-commerce-type" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Agregar Nuevo Tipo de Comercio</a>
    </div>
</div>


{{#if hasCommerceTypes}}
<div class="row mt-3">
{{#each commerceTypesList}}
    <div class="col-12 col-sm-3 mb-3">
        <div class="card">
        <img src="{{this.imageUrl}}" class="card-img-top img-resizer-commerce-types" draggable="false"  alt="imagen de: {{this.name}}">
            <div class="card-body">
                <h4 class="card-title">{{this.name}}</h4>
                 <p class="card-text">
                <ul class="list-unstyled">
                    <li><i class="bi bi-justify-left"></i> <strong> Descripción: </strong> {{this.description}}</li>
                    <li><i class="bi bi-building-fill-gear"></i> <strong> Comercios: </strong> {{this.commerceCount}}</li>
                </ul>
                </p>
                <hr>
                <div class="mt-2">
                <a href="/admin/commerce-types/edit-commerce-type/{{this.id}}" class="btn btn-primary float-start me-2"><i class="bi bi-pencil"></i> Editar</a>
                <form method="post" action="/admin/commerce-types/delete-commerce-type">
                    <input type="hidden" value="{{this.id}}" name="commerceTypeId" />
                    <button type="submit" class="btn btn-danger float-start delete-commerce-type"><i class="bi bi-trash"></i> Eliminar</button>
                </form>
                </div>
            </div>
        </div>
    </div>    
{{/each}}
</div>
{{else}}

<div class="row">
    <div class="col-12">
        <div class="alert alert-secondary text-center" role="alert">
            <i class="bi bi-info-circle"></i>
            No existe ningún tipo de comercio registrado.
        </div>
    </div>
</div>

{{/if}}