<div class="row mt-4">
    <h1 class="text-center">Panel de Administración</h1>
</div>

<div class="container-fluid py-4 mt-2">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card bg-primary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Pedidos totales</h5>
                    <h1 class="display-4 fw-bold">{{totalOrders}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-info text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Pedidos de Hoy</h5>
                    <h1 class="display-4 fw-bold">{{totalOrdersToday}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-success text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Productos totales</h5>
                    <h1 class="display-4 fw-bold">{{totalProducts}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Clientes activos</h5>
                    <h1 class="display-4 fw-bold">{{activeClients}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Deliveries activos</h5>
                    <h1 class="display-4 fw-bold">{{activeDeliveries}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Comercios activos</h5>
                    <h1 class="display-4 fw-bold">{{activeCommerces}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Administr. activos</h5>
                    <h1 class="display-4 fw-bold">{{activeAdmins}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Clientes inactivos</h5>
                    <h1 class="display-4 fw-bold">{{inactiveClients}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Deliveries inactivos</h5>
                    <h1 class="display-4 fw-bold">{{inactiveDeliveries}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Comercios inactivos</h5>
                    <h1 class="display-4 fw-bold">{{inactiveCommerces}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card bg-secondary text-white shadow-sm p-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase mb-2">Administr. inactivos</h5>
                    <h1 class="display-4 fw-bold">{{inactiveAdmins}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>